.bordered-word {
  border-radius: 30px;
  border: 1px solid #ed2590;
  display: inline-flex;
  padding: 2px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 16px;
  font-size: var(--font-smallest);
}

.ver-todos {
  color: #ed2590;
  color: #ed2590;
  font-family: SF Pro Display;
  font-size: var(--font-smallest);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.with-space {
  margin-left: 5px;
}
