.navbar {
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: center;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: #fdfeff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 85vw;
}

.nav-group-left,
.nav-group-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-nav {
  width: 107px;
  height: 32px;
  flex-shrink: 0;
}

.nav-link {
  margin-right: 10px;
  padding: 0;
  font-size: var(--font-medium);
}

.profile-link {
  color: #ed2590;
}

.search-bar-desktop-wrapper {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 355px;
  height: 43.959px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #eff3f8;
}

.search-bar-mobile-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 320px;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
  background: #eff3f8;
  margin-top: 30px;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.search-bar {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: var(--font-small);
  line-height: 24px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 20px;
  gap: 2px;
}

.user-profile img {
  width: 40px;
  height: 40px;
}

.user-name {
  margin-left: 5px;
  white-space: nowrap;
  font-size: var(--font-small);;
}

.arrow-down {
  border: solid #ed2590;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 12px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1279px) {
  .navbar-content {
    flex-direction: row; 
    justify-content: space-between;
  }

  .nav-group-left, 
  .nav-group-right {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .nav-group-left {
    justify-content: flex-start;
  }

  .nav-group-right {
    justify-content: flex-end;
  }

  .img-nav {
    width: 80px;
    height: 24px;
  }

  .user-profile img {
    width: 30px;
    height: 30px;
  }

  .search-bar-desktop-wrapper {
    display: none;
  }

  .search-bar-mobile-wrapper {
    display: flex;
    margin: auto;
    margin-top: 30px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
